<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>about</title>
    <link rel="shortcut icon" href="/static/icon/icon.png">
    <link rel="stylesheet" href="/static/style/antd.css?__inline">
</head>
<body>
    <!-- Tip -->
    <div>about</div>

    <!-- This HTML Element { app } is a template entry. -->
    <div id="app"></div>
    
    <!-- ReactJS entry. -->
    <script src="/static/lib/mod.js"></script>
    <script>
        'use strict';
        (function () {
            // require.async(['main']);
        }());
    </script>
</body>
</html>