@import url('./reacttrainning.css?__inline');
@import url('/node_modules/antd/dist/antd.min.css?__inline');
#app,
#layout {
  height: 100%;
}

#header,
#footer,
#content {
  background: #fff;
}

#content {
  margin: 8px 0;
  padding: 25px 30px;
}

#footer {
  text-align: center;
}

.logo {
  width: 120px;
  height: 32px;
  line-height: 32px;
  color: #666;
  background: greenyellow;
  border-radius: 6px;
  text-align: center;
  margin: 16px 28px;
}